.repo-card {
    transition: transform .3s;
}

.repo-card:hover {
    transform: translateY(-5px);
}

#repo-container:has(.article-container:hover) .article-container:not(:hover) {
    filter: blur(2px)
}

.article-container {
    transition: transform 0.2s ease-in-out;
    text-align: left;
    width: 400px;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.567); */
    /* border: .1rem solid #FFFAE4; */
    /* border-radius: 1rem; */
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    /* backdrop-filter: blur(18px); */
    -webkit-backdrop-filter: blur(18px);
    transition: all 300ms ease-in-out;

    /* changed design */
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
    backdrop-filter: blur(18px);
}

.article-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateX(5px);
}

.article-container::before {
    content: "";
}

/* Repository image */
.article-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

/* Card content */
.article-container .repo-content {
    padding: 15px;
    text-align: justify;
    color: #ffffff;
}

.article-container h3 {
    font-size: 1.2em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-container h3 a {
    text-decoration: none;
    color: #ffffff;
    flex-grow: 1;
}

.article-container h3 span {
    white-space: nowrap;
}

.article-container p {
    font-size: 0.9em;
    color: #B0B5C0;
    margin: 10px 0;
}

.repo-stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    color: #ffffff;
}

.repo-stats .stars,
.repo-stats .forks {
    display: flex;
    align-items: center;
}

.repo-stats i {
    margin-right: 5px;
}

.repo-card>a {
    text-decoration: none;
}


@media only screen and (max-width: 400px) {
    .article-container{
        width: 100vw;
    }
}